html.mdc-typography
  head
    title RolzPro AAW
    link(rel='stylesheet', href='material-components-web.css')
  main(class="mdc-typography")

    img(src='/RolzProLogo2.svg', alt='RolzPro.com Logo v1, (c) 2017 RolzPro.com')

    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__primary
        divc.mdc-typography--heading2
          |In light of recent troubles experienced by some of our users, New and Existing RolzPro AAW accounts need to be updated with a working contact email, which will allow us to easily reset your password, assist you with user account problems, and more! Please input an acceptable email, or any other type of contact info, down below, to update your RolzPro AAW account to the latest standards.
    
    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__primary
        form#get-form(action='/confirmemail', method='POST')
          div
            .mdc-form-field
              .mdc-textfield(data-mdc-auto-init='MDCTextfield')
                input#getid.mdc-textfield__input(type='text', name='email')
                label.mdc-textfield__label(for='getid')
                  | Contact Info/Email
          button.mdc-button.mdc-button--raised.mdc-button--primary.mdc-ripple-surface(type='submit', data-mdc-auto-init='MDCRipple')
            | Submit and Continue to RolzPro AAW

    aside#mdc-dialog-with-list.mdc-dialog(style='visibility:hidden', role='alertdialog', aria-labelledby='mdc-dialog-with-list-label', aria-describedby='mdc-dialog-with-list-description')
      .mdc-dialog__surface
        header.mdc-dialog__header
          h2#mdc-dialog-with-list-label.mdc-dialog__header__title=loginerrormessage
        footer.mdc-dialog__footer
          button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel(type='button') Got It!
      .mdc-dialog__backdrop
    
    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__primary
        divc.mdc-typography--heading2 
          |For more info regarding our new 'Users FIRST' policy, please contact RolzPro technical support directly at cwu159@gmail.com.

  script(src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
  script.
    window.mdc.autoInit();

  script.
    (function() {
      var swidth = screen.width;
      var sheight = screen.height;
      var wrongpass = !{JSON.stringify(wrongpass)};
      if(wrongpass=='true')
      {
        var dialogScrollable = new mdc.dialog.MDCDialog(document.querySelector('#mdc-dialog-with-list'));
        dialogScrollable.show();
      }
    })();