html.mdc-typography
  head
    title RolzPro AAW
    link(rel='stylesheet', href='material-components-web.css')
  main(class="mdc-typography")
    h1.mdc-typography--display1 RolzPro AAW

    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__primary
        h1.mdc-card__title.mdc-card__title--large Full ClassList for RolzPro AAW Database:
      section.mdc-card__actions
        pclass#greeting.mdc-typography--subheading=listmessage

    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__actions
        form#get-form(action='./', method='GET')
          div
            .mdc-form-field
              button.mdc-button.mdc-button.mdc-button--primary.mdc-button--raised.mdc-ripple-surface(type='submit', data-mdc-auto-init='MDCRipple')
                |Back to Main Site

  script(src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
  script.
    window.mdc.autoInit();