html  
  head
    title RolzPro AAW
    link(rel='stylesheet', href='material-components-web.css')
  body
    h1.mdc-typography--display1 RolzPro AAW
    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__primary
        h1.mdc-card__title.mdc-card__title--large Info and Contact:
      section.mdc-card__actions
        pinfo#greeting.mdc-typography--body1
          |RolzPro AAW
          |For legal info, please see the Disclaimer section.
          |RolzPro AAW is a wiki where students can post class HW
          |for their peers who may not have remembered, missed it, etc.
          |To create a new class, please email charthewu@gmail.com.
          |Other questions should be directed to charthewu@gmail.com.
          |Please report any violations of RolzPro policy directly
          |to admin@rolzpro.com. Thank you for using the RolzPro AAW
          |service, and please spread the word!
          |RolzPro Assignment Agenda Wiki is (c) 2017 RolzPro.com

    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__actions
        form#get-form(action='./', method='GET')
          div
            .mdc-form-field
              button.mdc-button.mdc-button.mdc-button--primary.mdc-button--raised.mdc-ripple-surface(type='submit', data-mdc-auto-init='MDCRipple')
                |Back to Main Site