html  
  head
    title RolzPro AAW
    link(rel='stylesheet', href='material-components-web.css')
  body
    h1.mdc-typography--display1 RolzPro AAW
    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__primary
          h4.mdc-typography--display0="Thanks for contributing to RolzPro AAW!"

    .mdc-card.getcard(style="max-width:500px")
      section.mdc-card__actions
        form#get-form(action='./', method='GET')
          div
            .mdc-form-field
              button.mdc-button.mdc-button.mdc-button--primary.mdc-button--raised.mdc-ripple-surface(type='submit', data-mdc-auto-init='MDCRipple')
                |Back to Main Site