html  
  head
    title= title
    link(rel='stylesheet', href='./style.css')
  body
    h1= "RolzPro AAW"
    h2= "Invalid ClassID: "+errormessage
    form(id="back", method="GET", class="form"  action="/")
        br
        button#submitButton(type='submit') BACK TO MAIN PAGE